* {
    box-sizing: border-box;
  }

h1 {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(62, 74, 138);
    text-align: center;
  }

  body {
   background-color: rgb(211, 203, 192); 
  }

  .data { 
    font-family: serif;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.button {
    font-style:italic;
    color: rgb(21, 35, 44);
    font-weight: bold;
    font-family:system-ui;
}